
body {

    font-family: 'Play', sans-serif;
    margin: 0;
}
table{
    width: 100%;
    height: 70vh;
    color: white;
    background-color: rgb(82, 80, 75);
    

}

td{
    width: 25%;
    text-align: center;
    background-color: rgb(49, 48, 42);
    font-size: 20px;
}

td:hover {
    background-color: rgb(30, 30, 30);
    cursor: pointer;

}

#resultArea {
    height: 30vh;
    background-color: rgb(87, 87, 87);
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    box-sizing: border-box;
    
    

}

#result {

    background-color: rgb(92, 125, 153);
}

#result:hover {
    background-color: rgb(166, 178, 209);
}

.heighlight {

    background-color: rgb(20, 20, 20);
}

